<?xml version="1.0" encoding="utf-8"?>
    <!--android:theme="@style/AppTheme">-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medical.xumeng.leadscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_leadscreen"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.medical.xumeng.leadscreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment android:name=".Disclaimer"/>
        <fragment android:name=".AboutApp" />
        <fragment android:name=".Reference" />

        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.WHW.WHWScreen"
            android:parentActivityName="com.medical.xumeng.leadscreen.MainActivity" />

        <fragment android:name=".MainLeadScreen" />

        <activity android:name="com.medical.xumeng.leadscreen.LeadScreen.WHW.SubSuveyScreen" android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.WHW.WHWScreen"/>

        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.SignLeadPoison.Symptoms"
            android:parentActivityName="com.medical.xumeng.leadscreen.MainActivity" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Survey.SurveyScreen"
            android:parentActivityName="com.medical.xumeng.leadscreen.MainActivity" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Evaluation.EvaluationScreen"
            android:parentActivityName="com.medical.xumeng.leadscreen.MainActivity" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.GuideLine.GuideLineScreen"
            android:parentActivityName="com.medical.xumeng.leadscreen.MainActivity" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.LevelScreen"
            android:parentActivityName="com.medical.xumeng.leadscreen.MainActivity" />
        <activity android:name="com.medical.xumeng.leadscreen.BaseActivity" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.LevelScreen" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.LevelScreen" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelFine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelNine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelTwoFour"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelFourFour"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelOneFour"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelFiveNine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelSixNine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CLevelSeventy"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelFive"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelNine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelOneFour"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelTwoFour"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelFourFour"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelFiveNine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelSixNine"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />
        <activity
            android:name="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VLevelSeventy"
            android:parentActivityName="com.medical.xumeng.leadscreen.LeadScreen.Levels.Venous.VenousTest" />

    </application>

</manifest>