<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xumeng.leadscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment android:name=".Disclaimer" />
        <fragment android:name=".AboutApp" />
        <fragment android:name=".Reference" />

        <activity android:name=".LeadScreen.WHW.WHWScreen" />

        <fragment android:name=".MainLeadScreen" />

        <activity android:name=".LeadScreen.SignLeadPoison.Symptoms" />
        <activity android:name=".LeadScreen.Survey.SurveyScreen" />
        <activity android:name=".LeadScreen.Evaluation.EvaluationScreen" />
        <activity android:name=".LeadScreen.GuideLine.GuideLineScreen" />
        <activity android:name=".LeadScreen.Levels.LevelScreen" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CappilaryTest" />
        <activity android:name=".LeadScreen.Levels.Venous.VenousTest" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelFine" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelNine" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelTwoFour" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelFourFour" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelOneFour" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelFiveNine" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelSixNine" />
        <activity android:name=".LeadScreen.Levels.Cappilary.CLevelSeventy" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelFive" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelNine" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelOneFour" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelTwoFour" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelFourFour" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelFiveNine" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelSixNine" />
        <activity android:name=".LeadScreen.Levels.Venous.VLevelSeventy"></activity>
    </application>

</manifest>