<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xumeng.leadscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment android:name=".Disclaimer" />
        <fragment android:name=".AboutApp" />
        <fragment android:name=".Reference" />

        <activity android:name=".LeadScreen.WHW.WHWScreen" />
        <fragment android:name=".MainLeadScreen" />

        <activity android:name=".LeadScreen.SignLeadPoison.Symptoms" />
        <activity android:name=".LeadScreen.Survey.SurveyScreen" />
        <activity android:name=".LeadScreen.Evaluation.EvaluationScreen" />
        <activity android:name=".LeadScreen.GuideLine.GuideLineScreen" />


        <activity android:name=".LeadScreen.Levels.LevelScreen" />


        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>