<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xumeng.leadscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Disclaimer" />
        <activity android:name=".AboutApp" />
        <activity android:name=".Reference" />
        <activity android:name=".LeadScreen.Symptoms" />
        <activity android:name=".LeadScreen.SurveyScreen" />
        <activity android:name=".LeadScreen.EvaluationScreen" />
        <activity android:name=".LeadScreen.GuideLineScreen" />
        <activity android:name=".LeadScreen.WHWScreen" />
        <activity android:name=".LevelScreen" />
        <activity android:name=".LeadScreen.WHW.LeadRiskSurvey"></activity>
    </application>

</manifest>